Author: okanon <flat.cydia37jins.pc@gmail.com> 
Maintainer: okanon <flat.cydia37jins.pc@gmail.com> 
Name: Cylinder Effect+
Package: io.okanon.cylindereffect+ 
Priority: 
Depends: firmware (>= 11.0), dpkg (>= 1.14.25-8), com.r333d.cylinder 
Section: Tweaks 
Version: 0.0.1 
Architecture: iphoneos-arm 
Description: Cylinder Effect packages :) 
Depiction: https://okanon.github.io/cydia/documents/cylindereffect/ 
Homepage: https://twitter.com/@cxx_flags
Sponsor:  
Dev: okanon 
Tag: purpose::extension 
Icon:  
Installed-Size:  

