Package: git
Name: Git
Depends: curl, openssl
Depiction: https://okanon.github.io/cydia/documents/git/
Architecture: iphoneos-arm
Description: fast content-addressable filesystem
Maintainer: okanon <flat.cydia37jins.pc@gmail.com>  
Dev: okanon 
Author: okanon <flat.cydia37jins.pc@gmail.com> 
Section: Data_Storage
Homepage: https://twitter.com/@cxx_flags
Tag: purpose::console, role::hacker
Priority: optional
Version: 2.16.2-1
Installed-Size: 76936
