Package: io.okanon.libfdk-aac
Architecture: iphoneos-arm
Version: 2.0.1
Section: Multimedia
Maintainer: okanon <flat.cydia37jins.pc@gmail.com>
Depends: firmware (>= 3.0)
Homepage: https://twitter.com/@cxx_flags
Description: arm64 standalone of the Fraunhofer FDK AAC code
Name: libfdk-aac-dev
Dev: okanon
Author: okanon <flat.cydia37jins.pc@gmail.com>

